laravel/vendor/
node_modules/
npm-debug.log

# Laravel 5 & Lumen specific
laravel/public/storage
laravel/public/hot
laravel/storage/*.key

Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/