<table>
    <tr>
        <td ng-repeat="e in trombi.etudiants">
            <div class="trombiGrid__img">
                <img src="{{e.photo}}">
            </div>
            <p class="p-t-10">{{e.prenom}} {{e.nom}}</p>
            <p ng-if="current.mail" class="text-s">{{e.mail}}</p>
        </td>
    </tr>
</table>






<!-- MAIN CONTENT -->
<!-- <div class="animated bounceInUp">
            <div class="m-x-15 m-b-20" id="title">
                <div class="flex-container">
                    <p class="text-xl weight-600" ng-style="{'color':trombi.departement.couleur}">{{trombi.formation.nom}}
                        <span class="text-m" ng-if="current.groupe"> {{current.groupe}}</span>
                    </p>
                    <button class="ghost-button screen uppercase desktop w-100 m-l-10" ng-click="openPanel()" ui-sref="trombi.migrer">Migrer</button>
                </div>

                <p class="text-l m-y-5">Année {{trombi.annee.nom}}</p>
                <p class="text-l">Semestre {{trombi.semestre.nom}}</p>
                <p class="text-m m-t-10" ng-if="current.alt">Étudiant(e)s en {{current.alt}}</p>
            </div>

            <div class="trombiGrid flex-container text-center">
                <p class="text-l m-x-15 m-y-40" ng-if="!trombi.etudiants[0]">Il n'y a pas d'étudiants correspondant à ces critères.</p>
                <a class="trombiGrid__elt m-x-15 m-b-40" ng-repeat="e in trombi.etudiants" ng-click="openPanel()" ui-sref="trombi.modifier({etu: e.id_etu})">
                    <div class="trombiGrid__img">
                        <img src="{{e.photo}}">
                    </div>
                    <p class="p-t-10">{{e.prenom}} {{e.nom}}</p>
                    <p ng-if="current.mail" class="text-s">{{e.mail}}</p>
                </a>
            </div>

        </div>
    </div>
</div> -->