<div class="resultbox-bg"></div>

<!-- Barre de navigation latérale -->
<div id="panel" class="screen fixed text-center text-white flex-container">
    <div id="panelNav" class="w-100 p-20" ng-repeat="f in trombi.formation" ng-style="{'background-color':f.departement.couleur}">
        <a class="m-b-60" ng-click="openPanel()" ui-sref="trombi.filtres">
            <span class="icon-tune text-xl"></span>
            <p class="uppercase text-xs desktop">filtrer</p>
        </a>
        <a class="m-b-20" ng-click="openPanel()" ui-sref="trombi.creer">
            <span class="icon-account-plus text-xl"></span>
            <p class="uppercase text-xs desktop">ajouter un élève</p>
        </a>
        <a class="m-b-60 desktop" ng-click="openPanel()" ui-sref="trombi.importer">
            <span class="icon-file text-xl"></span>
            <p class="uppercase text-xs">importer une liste d'élèves</p>
        </a>
        <a class="m-b-20 desktop" ng-click="openPanel()" ui-sref="trombi.imprimer">
            <span class="icon-printer text-xl"></span>
            <p class="uppercase text-xs">imprimer</p>
        </a>
        <a class="m-b-60 desktop" ng-click="openPanel()" ui-sref="trombi.exporter">
            <span class="icon-download text-xl"></span>
            <p class="uppercase text-xs">exporter</p>
        </a>
        <a ng-click="openPanel()" ui-sref="trombi.migrer">
            <span class="icon-transfer text-xl"></span>
            <p class="uppercase text-xs desktop">migrer</p>
        </a>
    </div>
    <div id="panelContent" class="w-400 p-40 bg-grey1 text-center relative" ui-view="panel">

    </div>
</div>


<div id="wrapper">
    <div class="maxw-1024 m-center p-40">

        <!-- SEARCH BAR -->
        <!-- <input type="text" placeholder="Recherche d'étudiants' ..." list="search" data-ng-model="search" />

        <datalist id="search">
            <option data-ng-repeat="s in search" value="{{s.nom}} {{s.prenom}}" />
        </datalist> -->


        <div class="m-x-15 screen relative" style="z-index:2;">
            <div class="flex-container is-vertical-centerscreen">
                <div class="flex-12 flex-container">
                    <div class="w-65 bg-grey1 p-0 flex-container is-horizontal-center is-vertical-center">
                        <span class="icon-magnify text-xl text-white"></span>
                    </div>
                    <input id="searchbar" class="flex-12" type="text" placeholder="Rechercher un étudiant, une formation..." list="search" data-ng-model="toto">

                    <span id="reset-search" class="icon-close text-xl"></span>
                </div>
            </div>

            <datalist id="search">
                <option data-ng-repeat="e in search.etudiants" value="{{e.nom}} {{e.prenom}}" />
                <option data-ng-repeat="f in search.formations" value="{{f.nom}}" />
            </datalist>

            <!-- SEARCH RESULTS -->


            <div class="flex-container m-y-40 is-horizontal-extremes">
                <a href="#/" class="flex-container is-vertical-center">
                    <span class="icon-arrow-left text-l"></span>Retour
                </a>

                <a class="flex-container is-vertical-center" ui-sref="login" ng-click="logout()">
                    Déconnexion
                    <span class="icon-logout text-l m-l-5"></span>
                </a>
            </div>
        </div>







        <!-- MAIN CONTENT -->
        <div class="animated bounceInUp">

            <div class="m-x-15 m-b-20" id="title">
                <div class="flex-container" ng-repeat="f in trombi.formation">
                    <p class="text-xl weight-600" ng-style="{'color':f.departement.couleur}">{{f.nom}}
                        <span class="text-m" ng-if="currentGroup"> {{currentGroup}}</span>
                    </p>
                </div>

                <div ng-repeat="p in trombi.periode">
                    <p class="text-l m-y-5">Année {{p.annee}}</p>
                    <p class="text-l">Semestre {{p.semestre}}</p>
                </div>
            </div>



            <div class="trombiGrid flex-container text-center">
                <!-- <p class="text-l m-x-15 m-y-40" ng-if="!trombi.etudiants[0]">Il n'y a pas d'étudiants correspondant à ces critères.</p> -->
                <a class="trombiGrid__elt m-x-15 m-b-40" ng-repeat="e in trombi.etudiants" ng-click="openPanel()" ui-sref="trombi.afficher({etu: e.id})"
                    | filter: filter>
                    <div class="trombiGrid__img">
                        <img ng-src="{{e.photo}}">
                    </div>
                    <p class="p-t-10">{{e.prenom}} {{e.nom}}</p>
                    <p ng-if="currentMail" class="text-s">{{e.mail}}</p>
                    <div ng-if="currentStatut">
                        <p ng-if="e.alternant == 1" class="text-s">Alternant(e)</p>
                        <p ng-if="e.alternant == 0" class="text-s">Formation initiale</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>