<div ng-repeat="etu in etu.etudiant">
    <span class="icon-close text-xl" ng-click="closePanel()"></span>

    <p class="m-b-40 text-l">{{ etu.prenom }} {{ etu.nom }}</p>

    <img class="m-b-20 avatar" src="{{etu.photo}}" alt="Photo de {{ etu.prenom }} {{ etu.nom }}">

    <!-- <a class="m-b-20 text-center" ui-sref="trombi.mailto({etu: e.id})">
        <span>{{ etu.mail }}</span>&nbsp;
        <span class="icon-email text-white text-l"></span>
    </a> -->

    <p class="m-b-20 text-center">
        <b>Adresse e-mail :</b>
        <a href="mailto:{{etu.mail}}" style="display:inline;">{{etu.mail}}</a>
    </p>
    <p class="m-b-20 text-center" ng-repeat="g in etu.groupes">
        <b>Groupe(s) :</b> {{ g.nom}}</p>
    <p class="m-b-20 text-center" ng-if="etu.alternant == 1">
        <b>Statut :</b> Alternant(e)</p>
    <p class="m-b-20 text-center" ng-if="etu.alternant == 0">
        <b>Statut :</b> Formation initiale</p>
    <p class="m-y-20 text-center">
        <b>Diplôme précédent :</b> {{ etu.pre_diplome }}</p>
</div>